@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked + label {
  border-color: #06b6d4;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.layout {
  border: 2px solid red;
}

.poppins {
  font-family: "Poppins", sans-serif;
}
